# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.local
.DS_Store

# Tokens y sesiones de WhatsApp
tokens/
tokens/**

# Caché de Venom y Chromium
.vscode/
Default/
cache/
tmp/
*.cache
*.log

# Archivos del sistema
Thumbs.db
desktop.ini
